backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.3.0
Django==1.11.6
django-debug-toolbar==1.9.1
django-extensions==1.7.3
enum34==1.1.6
ipython==5.7.0
ipython-genutils==0.2.0
jedi==0.12.0
parso==0.2.0
pathlib2==2.3.2
pexpect==4.5.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.6.2
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
pytz==2017.2
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
traitlets==4.3.2
typing==3.6.4
uWSGI==2.0.13.1
wcwidth==0.1.7
Werkzeug==0.11.11
